@charset "ISO-8859-1";
body{
    background: #f5f5f5;
    font-family: "Courier New", monospace;
}
app_header{
    font-weight: bold;
}
app_data{
    font-weight: bold;
    font-size: 20px;
    align-self: center;
}