<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>
<div th:switch="${energyTable}">
  <h2 th:case="null">Something went terrible!</h2>
  <div th:case="*">
    <h2>GREENHOUSE</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Price SEK kw/h</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="entry : ${energyTable}">
        <td th:text="${entry.id}"></td>
        <td th:text="${entry.timestamp}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/energy/avg">Seven Day Average</a></p>
  <p><a href="/energy/add">Enter Latest Price</a></p>

</div>
</body>
</html>