<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>

<h3>GREENHOUSE | ENERGY UTILS</h3>

<div th:switch="${energyTable}"><h2 th:case="null">Something Went Terrible!</h2>
    <div th:case="*">
        <table>
          <thead>
          <tr>
              <th>Price</th>
              <th>Date and Time</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="data : ${energyTable}">
              <td th:text="${data.price}"></td>
              <td th:text="${data.timestamp}"></td>
          </tr>
          </tbody>
        </table>
    </div>

    <h4>LATEST READING |<td th:text="${lastEnergyData.price}"></td> SEK KW/H</h4>
    <h4>PERIOD AVERAGE |<td th:text="${priceAverage}"></td> SEK KW/H</h4>

    <form th:action="@{/energy/update}" th:object="${energyData}" method="POST">
        <input type="text" th:field="*{price}"/>
        <button type="submit" class="btn btn-primary col-2">Add New Price</button>
    </form>

    <p><a href="/"><button>Back to Index</button></a></p>
</div>
</body>
</html>