<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>
<div class="container">

  <h3>Add New Employee</h3>
  <hr/>

  <form th:action="@{/energy/update}" th:object="${energyData}" method="POST">
    <input type="text" th:field="*{price}" class="form-control col-4 mb-4" placeholder="Enter Name" />
    <button type="submit" class="btn btn-primary col-2">Save</button>
  </form>
  <hr/>
</div>
</body>
</html>