<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greenhouse Sectors</title>
    <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>

<h2>HUMIDITY READINGS, <td th:text="${sector}"></td></h2>

<div th:switch="${sensor}">
    <h2 th:case="null">No data!</h2>
    <div th:case="*">
        <table>
            <thead><tr><th>Reading</th><th>Time</th></tr></thead>
            <tbody>
            <tr th:each="data : ${sensor}">
                <td th:text="${data.data}"></td>
                <td th:text="${data.timestamp}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4>LATEST HUMIDITY READING</h4>
    <td th:text="${lastHumidityData.data}"></td>
    <td th:text="${lastHumidityData.timestamp}"></td>
    <h2>AVERAGE TEMPERATURE: </h2>
    <td th:text="${humidityAverage}"></td>
    <p><a href="/sectors"><button>Back to Sectors</button></a></p>
</div>
</body>
</html>