<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Greenhouse Sectors</title>
  <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>

<h3>GREENHOUSE | SECTORS</h3>

<div th:switch="${sectors}">

  <h2 th:case="null">No Sectors in Greenhouse for some reason.</h2>
  <div th:case="*">

    <table>
      <tbody><tr th:each="sector : ${sectors}">
        <td th:class="sub_header" th:text="${sector.name.toUpperCase()}   "></td>
        <td><a th:href="@{/sectors/sector/temperature/{id}(id=${sector.id})}"><button>Temperature</button></a></td>
        <td><a th:href="@{/sectors/sector/humidity/{id}(id=${sector.id})}"><button>Humidity</button></a></td>
      </tbody>
    </table>

  </div>
  <p><a href="/"><button>Back to Index</button></a></p>
</div>

</body>
</html>