<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Greenhouse Sectors</title>
  <link href="../static/makeup.css" th:href="@{/makeup.css}" rel="stylesheet" />
</head>
<body>

<h2>TEMPERATURE READINGS, <td th:text="${sector}"></td></h2>

<div th:switch="${sensor}">
  <h2 th:case="null">No data!</h2>
  <div th:case="*">
    <table>
      <thead><tr><th>Reading</th><th>Time</th></tr></thead>
      <tbody>
      <tr th:each="data : ${sensor}">
        <td th:text="${data.data}"></td>
        <td th:text="${data.timestamp}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <h2>LATEST TEMPERATURE READING: </h2>
  <td th:text="${lastTemperatureData.data}"></td>
  <td th:text="${lastTemperatureData.timestamp}"></td>
  <h2>AVERAGE TEMPERATURE: </h2>
  <td th:text="${temperatureAverage}"></td>
  <p><a href="/sectors"><button>Back to Sectors</button></a></p>
</div>
</body>
</html>